@font-face {
    font-family: 'blackmedium';
    src: url('../fonts/blackhawk-webfont.eot');
    src: url('../fonts/blackhawk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blackhawk-webfont.woff') format('woff'),
         url('../fonts/blackhawk-webfont.ttf') format('truetype'),
         url('../fonts/blackhawk-webfont.svg#blackmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'wanted_m54regular';
    src: url('../fonts/wanted_m54-webfont.eot');
    src: url('../fonts/wanted_m54-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wanted_m54-webfont.woff') format('woff'),
         url('../fonts/wanted_m54-webfont.ttf') format('truetype'),
         url('../fonts/wanted_m54-webfont.svg#wanted_m54regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  padding: 0;
  margin: 0;
  background: #efe7cc url(../images/aged_paper.jpeg) repeat top left;
  color: #111;
  font-family: sans-serif, arial;
}

.container {
  width: 940px;
  margin: auto;
}

/* Wanted part */
.wanted_poster {
  margin-bottom: 50px;
}
.date {
  margin-top: 30px;
  font-family: 'blackmedium';
  font-size: 3em;
  text-align: center;
}
.wanted {
  font-family: 'wanted_m54regular';
  font-size: 10em;
  text-align: center;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  margin-bottom: 20px;
  padding: 50px 0 30px 0;
}
.party_or_die {
  font-family: 'wanted_m54regular';
  font-size: 6.5em;
  text-align: center;
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
}
.party_or_die .or {
  font-style: normal;
  font-size: 0.8em;
  margin-top: 10px;
}
.bandit_name {
  font-family: 'blackmedium';
  font-size: 5em;
  text-align: center;
}

.thirty{
  margin-top: 40px;
  font-size: 12em;
  font-family: 'blackmedium';
  text-align: center;
}

/* Wanted part end */

/* invitation */

.gun {
  position: absolute;
  width: 128px;
  height: 128px;
  background: transparent url(../images/gun2.png) no-repeat top left;
  top: 30px;
}

.gun1 {
  left: 35px;
}

.gun2 {
  right: 35px;
  background: transparent url(../images/gun.png) no-repeat top left;
}

/* invitation */

/* bullet holes */

.bullethole {
  background: transparent url(../images/bullethole.png) no-repeat top left;
  width: 91px;
  height: 91px;
  position: absolute;
}

/* bullet holes end */

/* wishes */

.cowboy {
  position: absolute;
  width: 84px;
  height: 128px;
  background: transparent url(../images/cowboy_left.png) no-repeat top left;
  top: 30px;
}

.cowboy_left {
  left: 130px;
}

.cowboy_right {
  right: 130px;
  background: transparent url(../images/cowboy_right.png) no-repeat top left;
}
/* wishes end */

/* Info box */

.infobox{
  opacity: 0;
  position: relative;
  border: 2px solid black;
  background-color:rgba(255,255,255,0.5);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 50px;
  font-size: 1.5em;
}
.infobox h2 {
  font-family: 'wanted_m54regular';
  text-align: center;
  text-shadow: 5px 5px 10px #999;
  font-size: 3em;
}

a {
  color: #222;
}

/* info box end */

/* slideshow */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 0 30px 0;
  border: 5px solid #011;
  }

.rslides li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
/* slideshow end */
.small {font-size: 0.5em; clear: both;}

/* the clint */

.the_clint {
  position: fixed;
  top: 70px;
  left: -128px;
  width: 128px;
  height: 248px;
  background: transparent url(../images/eastwood.png) no-repeat top left;
}

/* the clint end */

/* contact options */
.contact_options {
}
.contact_options li {
  position: relative;
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.contact_options .icon {
  color: #000000;
  font-weight: bold;
  padding: 8px 20px;
  background: gradient(
  	linear, left top, left bottom, 
  	from(#ffffff),
  	color-stop(0.50, #c9ab34),
  	color-stop(0.50, #57461c),
  	color-stop(0.65, #755b1a),
  	to(#a38923));
  border-radius: 10px;
  border: 1px solid #000000;
  box-shadow:
  	0px 1px 3px rgba(112,112,112,0.5),
  	inset 0px 0px 5px rgba(161,142,016,0.6);
  text-shadow:
  	0px -1px 3px rgba(255,255,255,0.8),
  	0px 1px 0px rgba(255,255,255,0.3);
  position: relative;
  bottom: 1px;
  right: 1px;
  box-shadow: 1px 1px 3px #333;
  color: black;
  text-decoration: none;
}

.contact_options .icon:hover {
  bottom: 0;
  right: 0;
  box-shadow: 0 0 0 transparent;
}

/* contact options end */

/* rotation of images */

@keyframes img_rotate
{
 from { transform: rotate(-35deg); } 
 to { transform: rotate(35deg); } 
}

.rotate{
  animation: img_rotate 2.5s 0s infinite alternate ease-in-out;
}

/* rotation of images end */

/* wanted poster splash */
@keyframes splash{
  0%{transform:scale(0.1)}
  50%{transform:scale(1.1); animation-timing-function:ease-in}
  75%{transform:scale(0.9); animation-timing-function:ease-in-out}
  100%{transform:scale(1); animation-timing-function:ease-in-out}
}

@keyframes fade {
  from{ opacity: 0; }
  to { opacity: 1 ;}
}

.splash{
  transform: scale(0);
  animation: splash 2s 0.7s forwards;
}

.fade {
  opacity: 0;
  animation: fade 2s 3s forwards;
}



/* wanted poster splash end */
